.amarillo {
  background-color: gray;

}


.rosa {
  background-color:#F17C72;

}



.ancho {
  height: 73px;
  width: 73px;

}

.anchouniq {
  height: 120px;
  width: 380px;

}

.al{
  margin: 0 auto;
}

.dis{
  display: inline-block;
}


.dispi{
  display: inline;
}

.pad{
  padding: 10px;
  margin: 10px;
}


.borde {
  border-width:  20px 10px;
  border-color: purple;
  border-style: solid;
}
